<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.kurigohan.LaunchScreen_ActivityUsed" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="LaunchScreen_ActivityUsed.Android" android:icon="@mipmap/greeeen_icon"></application>
</manifest>